node_modules
build/
dist/
public/

scripts/
tests/
archive/

.vscode
.cache
.dns
.wrangler
.firebase
.firebaserc
firebase-debug.log

*.env*
*.dev.vars
*.toml*
*.jsonc*
app/config
app/config-example
app/components/turnstile/keys.json
app/components/turnstile/keys.json.example
