node_modules

archive/
app/config

/.cache
/build

*.env
*.dev.vars
.dns
.wrangler
.firebase
firebase-debug.log
*.txt
*.toml
*.jsonc

# Local dev files
data-worker.js
image-worker.js
keys.js
pdf-worker.js
turnstile.js
user-worker.js