node_modules
build/

tests/
blog-posts/
archive/

.vscode
.cache
.dns
.wrangler
.firebase
.firebaserc
firebase-debug.log

*.env
*.dev.vars
*.env.backup
*.toml
*.jsonc
app/config
app/components/turnstile/keys.json