{
  "name": "insert-your-users-worker-name",
  "account_id": "YOUR_ACCOUNT_ID",
  "main": "src/user-worker.js",
  "compatibility_date": "2023-03-14",
  "compatibility_flags": [
    "nodejs_compat"
  ], 
  
  "observability": { 
	"enabled": true
  },

   "kv_namespaces": [
    {
      "binding": "USER_DB",
      "id": "YOUR_KV_NAMESPACE_ID_UUID_HERE"
    }
  ],

  "routes": [
    {
      "pattern": "USER_WORKER_CUSTOM_DOMAIN",
      "custom_domain": true
    }
  ],

  "placement": { "mode": "smart" }
}