{
  "name": "KEYS_WORKER_NAME",
  "account_id": "ACCOUNT_ID",
  "main": "src/keys.ts",
  "compatibility_date": "2023-03-14",
  "compatibility_flags": [
    "nodejs_compat"
  ], 
  
  "observability": { 
	"enabled": true,
  "traces": {
      "enabled": true
    }
  },  

  "routes": [
    {
      "pattern": "KEYS_WORKER_DOMAIN",
      "custom_domain": true
    }
  ],

  "placement": { "mode": "smart" }
}