.container {
  max-width: var(--maxWidthL);
  margin: 0 auto;
  padding: var(--space2XL);
}

.logo {
  position: fixed;
  top: var(--spaceL);
  left: var(--spaceL);
  width: 150px;
  height: 150px;
  background-image: url('/logo-dark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: var(--zIndex2);
  transition: transform var(--durationM) var(--bezierFastoutSlowin);
}

.logoLink {
  position: absolute;
  top: var(--spaceL);
  left: var(--spaceL);
  text-decoration: none;
}

.logo:hover {
  transform: scale(1.05);
}

.returnLink {
  display: none;
  width: 84px;
  height: 84px;
  background-image: url('/logo-dark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: var(--spaceM);
}

.returnLink:hover {
  opacity: 0.9;
}

.content {
  background: color-mix(in lab, var(--backgroundLight) 95%, transparent);
  border-radius: var(--spaceXS);
  padding: var(--space2XL);
  box-shadow: 0 var(--spaceXS) var(--spaceL) color-mix(in lab, var(--black) 10%, transparent);
}

.content h1 {
  font-size: var(--fontSizeH4);
  color: var(--textTitle);
  margin-bottom: var(--space2XL);
}

.content h2 {
  font-size: var(--fontSizeH5);
  color: var(--textTitle);
  margin: var(--space2XL) 0 var(--spaceL);
}

.content section {
  margin-bottom: var(--space2XL);
}

.content p {
  color: #000000;
  margin: var(--spaceM) 0;
  line-height: 1.6;
}

.content ul {
  list-style-type: disc;
  padding-left: var(--spaceXL);
  margin: var(--spaceL) 0;
}

.content ol {
  list-style-type: decimal;
  padding-left: var(--spaceXL);
  margin: var(--spaceS) 0;
}

.content li {
  margin: var(--spaceS) 0;
  color: var(--textBody);
}

.content ul ul > li {
  list-style-type: circle;
}

.content .lastUpdated {
  font-size: 0.875rem;
  margin-top: var(--space2XL);
  color: darkGray;
}

.backLink {
  display: inline-block;
  margin-top: var(--space2XL);
  color: var(--linkColor);
  text-decoration: none;
  transition: color var(--durationS) var(--bezierFastoutSlowin);
}

.backLink:hover {
  color: color-mix(in lab, var(--accent) 85%, var(--black));
}

@media (max-width: 1296px) {
  .logo {
    display: none;
  }

  .returnLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding: var(--spaceL);
  }

  .content {
    padding: var(--spaceL);
  }
}