.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--radiusM);
  border: none;
  background-color: var(--backgroundLight);
  cursor: pointer;
  transition: all var(--durationS) var(--bezierFastoutSlowin);
}

.button:hover {
  background-color: var(--backgroundLighter);
}

.button.active {
  background-color: var(--successLight);
}

.button.active:hover {
  background-color: color-mix(in lab, var(--successLight) 85%, var(--black));
}