.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: var(--radiusM);
  border: none;
  background: var(--backgroundLight);
  cursor: pointer;
  transition: all var(--durationS) var(--bezierFastoutSlowin);
}

.button:hover {
  background: color-mix(in lab, var(--backgroundLight) 85%, var(--black));
}

.button.active {
  background: var(--successLight);
}

.button.active:hover {
  background: color-mix(in lab, var(--successLight) 85%, var(--black));
}

.icon {  
  color: var(--text);
  transition: color var(--durationS) var(--bezierFastoutSlowin);
}

.button.active .icon {
  color: var(--success);
}