@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mobileNavOffset: calc(var(--spaceOuter) * 2 + var(--space2XL));
  }

  html,
  body {
    height: 100vh;
    width: 100vw;
    min-height: screen;
    overflow-x: hidden;
    font-family: var(--fontStack);
    font-weight: var(--fontWeightRegular);
    color: var(--textBody);
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.95)),
                url('/assets/striae.jpg') center/cover no-repeat fixed;
    background-blend-mode: normal;
    transition: background var(--durationM) ease,
                opacity var(--durationM) ease;
    opacity: 1;
  }

  a {
    color: var(--primary);
    text-decoration: none;
    transition: color var(--durationS) ease;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 3px;
    }
  }

  code,
  pre {
    font-family: var(--monoFontStack);
  }

  ::selection {
    background: var(--primary);
    color: var(--white);
  }

  :focus {
    outline: 4px solid var(--text);
    outline-offset: 4px;

    &:not(:focus-visible) {
      outline: none;
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes reveal {
  0% {
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  50% {
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
  51% {
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
  100% {
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
}