@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    --mobileNavOffset: calc(var(--spaceOuter) * 2 + var(--space2XL));
  }

  :where(html, body) {
    min-height: 100%;
    width: 100%;
  }

  :where(*, *::before, *::after) {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }

  :where(input, textarea, select, button) {
    font: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    appearance: none;
    -moz-appearance: none;
    color: var(--textBody, rgba(0, 0, 0, 0.8));
  }

  :where(button, a) {
    touch-action: manipulation;
  }

  :where(svg, img, picture, video, iframe, canvas) {
    display: block;
  }

  ul {
    padding: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-height: screen;
    overflow-x: hidden;
    font-family: var(--fontStack);
    font-weight: var(--fontWeightRegular);
    color: var(--textBody);
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.95)),
                url('/assets/striae.jpg') center/cover no-repeat fixed;
    background-blend-mode: normal;
    transition: background var(--durationM) ease,
                opacity var(--durationM) ease;
    opacity: 1;
  }

  a {
    color: var(--primary);
    text-decoration: none;
    transition: color var(--durationS) ease;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 3px;
    }
  }

  h3 {
    color: var(--textTitle);
    font-size: var(--fontSizeH5);
    font-weight: var(--fontWeightMedium);
    line-height: var(--lineHeightHeading);
    margin: var(--spaceL) 0 var(--spaceM);
  }

  code,
  pre {
    font-family: var(--monoFontStack);
  }

  ::selection {
    background: var(--primary);
    color: var(--white);
  }

  :focus {
    outline: 4px solid var(--text);
    outline-offset: 4px;

    &:not(:focus-visible) {
      outline: none;
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes reveal {
  0% {
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  50% {
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
  51% {
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
  100% {
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
}