/* Layout & Container Styles */
.formWrapper {
  max-width: var(--maxWidthM);
}

/* Mobile Responsive */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .returnLink {
    display: block;
    margin: 0 auto var(--spaceM);
  }

  .formWrapper {
    padding: var(--spaceL);
    margin: var(--spaceM) auto;
  }
}