{
  "name": "DATA_WORKER_NAME",
  "account_id": "ACCOUNT_ID",
  "main": "src/data-worker.ts",
  "compatibility_date": "2023-03-14",
  "compatibility_flags": [
    "nodejs_compat"
  ], 
  
  "observability": { 
	"enabled": true,
  "traces": {
      "enabled": true
    }
  },

  "r2_buckets": [
    {
      "binding": "STRIAE_DATA",
      "bucket_name": "DATA_BUCKET_NAME"
    }
  ],

  "routes": [
    {
      "pattern": "DATA_WORKER_DOMAIN",
      "custom_domain": true
    }
  ],

  "placement": { "mode": "smart" }
}