.appContainer {
  display: flex;
  width: 100vw;
  height: 100vh;  
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.canvasArea {
  position: relative;
  flex: 1;
}

.toolbarWrapper {
  position: absolute;
  top: var(--spaceL);
  left: var(--spaceL);
  z-index: var(--zIndex2);
}