{
  "name": "PDF_WORKER_NAME",
  "account_id": "ACCOUNT_ID",
  "main": "src/pdf-worker.ts",
  "compatibility_date": "2023-03-14",
  "compatibility_flags": [
    "nodejs_compat"
  ],
  
  "browser": {
    "binding": "BROWSER"
  },
  
  "observability": { 
	"enabled": true,
  "traces": {
      "enabled": true
    }
  },

  "routes": [
    {
      "pattern": "PDF_WORKER_DOMAIN",
      "custom_domain": true
    }
  ],

  "placement": { "mode": "smart" }
}