.mobileWarning {
  display: none;
  position: fixed;
  inset: 0;
  background: color-mix(in lab, var(--background) 90%, transparent);
  z-index: var(--zIndex5);
  padding: var(--spaceL);
  transition: background-color var(--durationM) var(--bezierFastoutSlowin);
}

.content {
  background: var(--backgroundLight);
  padding: var(--spaceL);
  border-radius: var(--spaceXS);
  text-align: center;
  max-width: 90%;
  margin: 20vh auto 0;
  transition: background-color var(--durationM) var(--bezierFastoutSlowin);
}

.content h2 {
  font-size: var(--fontSizeH4);
  margin-bottom: var(--spaceM);
  color: var(--textTitle);
}

.content p {
  color: var(--textBody);
  line-height: var(--lineHeightBody);
}

@media (--mediaMobile) {
  .mobileWarning {
    display: block;
  }
}