.toolbarContainer {
  position: relative;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: var(--spaceS);
  padding: var(--spaceS);
  background: var(--background);
  border-radius: 5px;
  box-shadow: 0 var(--spaceXS) var(--spaceM) color-mix(in lab, var(--black) 10%, transparent);
  overflow: hidden;
  position: relative;
}

.toggleButton {
  height: 40px;
  flex-shrink: 0;
  margin-bottom: var(--spaceM);
  position: relative;
  z-index: 10;
}

.toolbarContent {
  display: flex;
  flex-direction: column;
  gap: var(--spaceS);
  transition: transform var(--durationXL) var(--bezierFastoutSlowin),
              opacity var(--durationM) var(--bezierFastoutSlowin);
}

.hidden .toolbarContent {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}