.toolbarContainer {
  position: relative;
}

.toolbar {
  display: flex;
  gap: var(--spaceS);
  padding: var(--spaceS);
  
  background: var(--background);
  border-radius: 5px;
  box-shadow: 0 var(--spaceXS) var(--spaceM) color-mix(in lab, var(--black) 10%, transparent);  
  width: auto;
  overflow: hidden;
}

.toggleButton {
  width: 40px;
  flex-shrink: 0;
  margin-right: var(--spaceL);
}

.toolbarContent {
  display: flex;
  gap: var(--spaceS);
  width: auto;  
}

.hidden {
  width: calc(40px + var(--spaceL) * 2);
}

.hidden .toolbarContent {
  opacity: 0;
  pointer-events: none;
  width: 0;  
}